<h1><%= @dept.id ? 'Edit Business' : 'Create Business' %></h1> <%# Ternary if dept id exist then edit else create%>
<hr />
<%= form_for @dept do |f| %>
  <%= f.label :business %>
  <%= f.text_field :business, required: true, autofocus: true %>

  <%= f.label :type %>
  <%= f.text_field :type, required: true, autofocus: true %>

  <%= f.label :phone %>
  <%= f.text_field :phone, required: true, autofocus: true %>

  <%= f.label :email %>
  <%= f.text_field :email, required: true, autofocus: true %>

  <%= f.label :hours %>
  <%= f.text_field :hours, required: true, autofocus: true %>

  <%= f.submit %>
<% end %>