<h1>Your Childhood Mall</h1>
<hr />
<%= link_to 'Submit a New Business', new_dept_path %>

  <% @depts.each do |dept| %>
   <h2><%= dept.business %></h2> 
  <p> What can we help you with</p>

  <%= link_to "View Business Info", dept_path(dept.id) %>
  <br />
  <%= link_to "View Store Items", dept_items_path(dept.id)  %>
  <br />
  <%= link_to "Edit Business", edit_dept_path(dept.id) %>
  <br />
  <%= link_to "Delete Business", @dept, method: :destroy%>
    <%end%> 
<hr />



<%= link_to "Back", depts_path %>
