<h1> <%= @dept.business %> </h1>
<hr />
    <p> <%= @dept.type %> </p>
    <p> <%= @dept.phone %> </p>
    <p> <%= @dept.email %> </p>
    <p> <%= @dept.hours %> </p>

<%= link_to "Back", depts_path %>

